<!--Horaires-->
<section class="programs" id="programs">
  <h2>Nos différènt programmes et horaire de cours</h2>
  <div class="program-list">
    <div class="program-card">
      <h3>Séance Enfants Vovinam</h3>
      <p>Mercredi 16h - 18h</p>
      <p>Samedi 16h - 18h</p>
    </div>
    <div class="program-card">
      <h3>Séance Adultes Vovinam</h3>
      <p>Lundi 18h30 - 20h</p>
      <p>Mardi 18h - 20h</p>
      <p>Jeudi 18h - 20h</p>
      <p>Samedi 16h - 18h</p>
    </div>
    <div class="program-card">
      <h3>Musculations</h3>
      <p>Tous les jours du lundi au vendredi 18h - 20h</p>
      
    </div>
    <div class="program-card">
      <h3>Aérobic</h3>
      <p>Lundi 18h - 20h</p>
      <p>Mercredi 18h - 20h</p>
      <p>Vendredi 18h - 20h</p>
    </div>
  </div>
</section>