<div class="login-container">
  <div class="login-card">
    <h1>Connexion</h1>

    <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email"
               [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" />
        <div class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Veuillez saisir un email valide.
        </div>
      </div>

      <!-- Mot de passe -->
      <div class="form-group password-group">
        <label for="password">Mot de passe</label>
        <div class="password-wrapper">
          <input id="password" [type]="hidePassword ? 'password' : 'text'"
                 formControlName="password"
                 [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" />
         <button type="button" class="toggle-password" (click)="hidePassword = !hidePassword" tabindex="-1" > 
            <span *ngIf="hidePassword">👁️</span> 
            <span *ngIf="!hidePassword">🙈</span> 
          </button>
        </div>
        <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Le mot de passe est requis.
        </div>
      </div>

      <!-- Message erreur -->
      <div *ngIf="errorMessage" class="message error">
        {{ errorMessage }}
      </div>

      <!-- Bouton -->
      <button type="submit" [disabled]="isLoading || loginForm.invalid">
        {{ isLoading ? 'Connexion...' : 'Se connecter' }}
      </button>
    </form>

    <div class="switch-link">
      <a routerLink="/register">Pas encore de compte ? Créer un compte</a>
    </div>
  </div>
</div>
